body{
    background-color: black;
}
.container2{
    width: 640px;
    height: 328px;
    background-color: white;
}
h1{
    height: 24px;
    width: 248px;
    border-radius:0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 40px 196px 8px 196px;

}
.p1{
    height: 32px;
    width: 256px;
    border-radius:0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-left: 192px;
    padding-right: 192px;
    padding-bottom: 36px;
    opacity: 0.5;

}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.num{
    height: 48px;
    width: 48px;
    border-radius: 12px;
    gap: 8px;
    opacity: 0.5;
    border: 1px solid ;
}
