body{
    background-color: black;
}
.container3{
    background-color: white;
    width: 640px;
    height: 264px;
    margin: 344px 400px 416px 400px;
    border-radius: 4px;
}
h1{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    height: 24px;
    width: 256px;
    border-radius:0;
    padding-top: 40px;
    padding-left: 192px;

}
h2{
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    height: 16px;
    width: 198px;
    border-radius:0;
    padding-left: 16px;
}
.box{
    height: 48px;
    width: 608px;
    border-radius: 4px;
    border: 0.5px solid #DADADA;
    opacity: 0.5;
    margin-left: 16px;
    
}
button{
    width: 384px;
    height: 48px;
    background-color: rgba(35, 37, 41, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin: 16px 128px 48px 128px;
    border: 0;
}
.site{
    color: white;
    text-decoration: none;
}
